{% load humanize %}
{% load model_utils %}

<table class="table {% if table_class %}{{ table_class }}{% endif %}">
    <thead>
        <tr>
            {% for field in fields %}<th>{{ field.verbose_name|title }}</th>{% endfor %}
            {% if detail_url_name or edit_url_name %}<th>Actions</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                {% for field in fields %}
                    <td>
                        {% with value=object|get_attribute:field.name %}
                            {% if field.is_relation %}
                                {{ value|default_if_none:"-" }}
                            {% elif field.get_internal_type == 'DecimalField' %}
                                {{ value|floatformat:2 }}
                            {% elif field.get_internal_type == 'DateField' %}
                                {{ value|date:"Y-m-d" }}
                            {% elif field.get_internal_type == 'DateTimeField' %}
                                {{ value|date:"Y-m-d H:i" }}
                            {% elif field.get_internal_type == 'BooleanField' %}
                                {{ value|yesno:"Yes,No" }}
                            {% else %}
                                {{ value|default:"-"|truncatechars:50 }}
                            {% endif %}
                        {% endwith %}
                    </td>
                {% endfor %}
                {% if detail_url_name or edit_url_name %}
                    <td>
                        {% if detail_url_name %}
                            <button>
                                <a class="contrast"
                                   href="{% if use_slug %}{% url detail_url_name object.slug %}{% else %}{% url detail_url_name object.pk %}{% endif %}">
                                    View
                                </a>
                            </button>
                        {% endif %}
                        {% if edit_url_name %}
                            <button>
                                <a class="contrast"
                                   href="{% if use_slug %}{% url edit_url_name object.slug %}{% else %}{% url edit_url_name object.pk %}{% endif %}">
                                    Edit
                                </a>
                            </button>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="{{ fields|length|add:1 }}" class="text-center">No items found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
