<footer>
    <div class="container">
        <p>
            <small>
                &copy; 2025 Diego Rivera
                <a href="{% url 'warehouses:warehouse-list' %}" class="active">Bodegas</a>
                <a href="{% url 'stores:store-list' %}" class="active">Tiendas</a>
                <a href="{% url 'employees:employee-list' %}" class="active">Empleados</a>
                <a href="{% url 'products:product-list' %}" class="active">Productos</a>
                <a href="{% url 'customers:customer-list' %}" class="active">Clientes</a>
                <a href="{% url 'sales:sale-list' %}" class="active">Ventas</a>
                <a href="{% url 'address:address-list' %}" class="active">Direcciones</a>
                <a href="{% url 'audits:list' %}" class="active">Logs</a>
            </small>
        </p>
    </div>
</footer>
