{% extends "base.html" %}

{% load strings %}

{% block content %}
    <h1>Form {{ request.path|split:"/"|slice:"1:2"|join:"" }}</h1>
    {% block form_block %}
        {% if form %}
            <form {% if form_action %}action="{{ form_action }}"{% endif %}
                  method="{{ form_method|default:'post' }}"
                  class="container">
                {% if form_method|default:"post" == "post" %}
                    {% csrf_token %}
                {% endif %}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {% if field.type == "checkbox" %}
                            {{ field.field }}
                            {{ field.label_tag }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.errors %}<div class="error">{{ field.errors|join:", " }}</div>{% endif %}
                    </div>
                {% endfor %}
                <div>
                    <button type="submit">
                        {% if form_method == "post" %}
                            {{ form.submit_button_text|default:"Submit" }}
                        {% else %}
                            {{ form_method|title }} {{ form.submit_button_text|default:"Submit" }}
                        {% endif %}
                    </button>
                    <button onclick="history.back()" class="active">Cancelar</button>
                </div>
            </form>
        {% endif %}
    {% endblock form_block %}
{% endblock content %}
