{% extends "base.html" %}

{% load model_utils %}
{% load strings %}

{% block title %}
    {{ request.path|split:"/"|slice:"1:2"|join:"" }}
{% endblock title %}
{% block buttons %}
    {% if add_url %}
        <li>
            <button>
                <a class="contrast" href="{% url add_url %}">Añadir</a>
            </button>
        </li>
    {% endif %}
{% endblock buttons %}
{% block content %}
    {% block table_block %}
        {% include "components/auto_table.html" with object_list=object_list fields=model|get_model_fields %}
    {% endblock table_block %}
{% endblock content %}
